@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scrollbar-gutter: auto;
}


/* Comienza NavSection */

.nav-bar{
    width: 100%;
    height: 70px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #4e4f50;
    overflow: hidden; 
    box-shadow: 0.5px 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.2);
    
}

.logo-nav{
    padding: 40px;
}

.logo-nav p{
    font-weight: 700;
    font-size: larger;
    color: #fd9b40;
}

.nav-bar ul{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.nav-bar ul li{
    display: inline-block;
    padding-right: 25px;

} 

.nav-bar ul li a {
    text-decoration: none;
    color: #ebebeb;
}

@media (max-width: 640px) {
    .nav-bar{
        height: 250px;
    }

    .nav-bar ul li{
        display: block;
        text-align: left;
        padding: 10px;
    }
}

.nav-bar ul li a,
.nav-bar ul li a:after,
.nav-bar ul li a:before {
  transition: all .5s;
}

.nav-bar ul li a:hover {
    color: #eca058;
}

.nav-bar ul li a{
    position: relative;
}

.nav-bar ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #eca058;
    height: 1px;
    margin-bottom: -7px;
    
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar img{
    padding-right: 30px;
}
/* Termina NavSection */

/* Comienza StartSection  */


.grid-StartSection{
    background-image: url(/Images/parallax3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    box-shadow: 1px 1px 1px 1px #e2e0e0;
    width: 100%;
    height: 600px;
    
}

.StartTextSection{
    display: inline-block;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    
}


.title{
    padding-top: 20px;
    text-align: center;
}

.sub-title{
    padding: 30px 10px 0px 10px;
    
}

.Startbuttons{
    padding-top: 15px;
    text-align: center;
}

.Startbuttons button{
    margin: 10px;
    border-radius: 20px;    
}

.More{
    padding: 10px 54px;
}

.Start {
    padding: 10px 40px;
    background-color: #4D4444;
    color: whitesmoke;
}

.StartImage{
    grid: Image;
    justify-self: center;
    align-self: end;
    height: 220px;
    
    
}

@media (max-width: 1024px) {
    .grid-StartSection{
        display: grid;
        grid-template-areas: 
        "Texto"
        "Image"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px;
        padding-top: 20px;
    }

    .StartTextSection{
        padding: 0px 100px 0px 100px;
        height: 100%;
        

    }

}


/* Termina StartSection  */

/* Comienza Valoraciones */

.experience-section{
    text-align: center;
    background-color: #f3f3f3;
    
}

.experience-title{
    padding-top: 40px;
    
}

.experience-title span{
    padding-top: 40px;
    font-weight: 200;
}


.Section-Cards{
    display: grid;
    grid-template-areas: 
    "card1 card2"
    "card3 card4"
    ;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 50px 20px 80px 20px;
    

}

#card1{
    grid: card1;
}

#card2{
    grid: card2;
}

#card3{
    grid: card3;
}

#card4{
    grid: card4;
}
.cards{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid rgb(196, 196, 196);
    height: 100%;
    box-shadow: 1px 1px 1px 1px #dddada;
}

.cards:hover{
    transition: 0.7s all;
    box-shadow: 1px 1px 1px 1px #b1b0b0;
}

.cards img{
    border-radius: 50%;
    border: 2px solid #727171;
    margin-bottom: 15px;
    
}

.cards .time-card{
    margin-bottom: 20px;
    font-weight: 200;
}

.cards .Review-Text{
    font-style: italic;
}

.complement-text{
    padding-bottom: 30px;
    display: flex;
}

.quotation-marks{
    font-size:40px;
    color: #eca058;
}


@media (max-width: 1080px) {
    .Section-Cards{
        display: grid;
        grid-template-areas: 
        "card1 card2"
        "card3"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 20px 80px 20px;
    }

    .cards{
        height: 500px;
    }
}



/* Termina Valoraciones  */

.Inicio-VideoPresentacion{
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    
}

.video{
    padding: 30px;
    
}

.video iframe{
    height: 500px;
    width: 700px;
    border-radius: 20px;
    align-items: center;
}

.text p{
    text-align: center;
}

@media (max-width: 1240px) {
    .Inicio-VideoPresentacion{
        display: block;
    }

    .video{
        text-align: center;
    }
    
    .video iframe{
        width: 600px;
    }

    .text p{
        text-align: center;
        justify-self: center;
        padding: 0px 130px 20px;
    }
}

/* Comienza FooterSection  */

footer{
    background-color: #4e4f50;
    width: 100%;
}

.List{
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 640px) {
    .List{
        display: block;
        text-align: center;
    }
}

.List li{
    padding: 10px 25px;
    list-style: none;
}

.List li a{
    text-decoration: none;
    color: #8a8686;
}

.ComplementText{
    text-align: center;
    padding-bottom: 15px;
    color: #8a8686;
}

/* Termina FooterSection  */