@mixin tablet{
    @media screen and (max-width: 768px) {
        @content;
    }
};

@mixin phone{
    @media screen and (max-width: 640px) {
        @content;
    }    
};

@mixin grid-cards-contactos{
    display: grid;
    grid-template-areas: 
    "Card-1 Card-2"
    ;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

@mixin grid-card-Numbers($gap){
    display: grid;
    grid-template-areas: 
    "number-1 number-2 number-3"
    "number-4 number-5 number-6"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: $gap;
}